*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #20002c, #cbb4d4);
}
input{
    border: none;
    outline: none; 
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 20%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-left: 12px !important;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain{
    width: 500px;
    height: 450px;
    background-color: white;
    position: relative;
    border-radius: 8px;
}
.card{
    width: 400px;
    height: 212px;
    border: .5px solid rgba(0, 0, 0, 0.336);
    background-color: black;
    color: white;
    border-radius: 8px;
    position: absolute;
    z-index: 5;
    top: -30px;
}

.top{
    width: 100%;
    height: 60px;
}
.top>div{
    width: 50%;
}
.top>div>p{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.center{
    width: 100%;
    height: 100px;
}
.center>div{
    height: 50%;
}
.bottom{
    width: 100%;
    height: 50px;
}
.bottom>div{
    width: 50%;
}
.form-number{
    width: 100%;
    height: 50px;
    margin-top: 46% !important; 
    position: relative;
}
.form-number>label{
    position: absolute;
    top: -24px;
    font-size: 13px;
    left: 41px;
}
#number{
    color: white;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
}
#logo{
    cursor: pointer;
}
.card-name{
    height: 30px;
    padding:0 41px !important;
    position: relative;
}
#cardname{
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.card-name input{
    height: 100%;
    width: 100%;
}
.card-name label{
    position: absolute;
    top: -24px;
    font-size: 13px;
}
.changecolor{
    background: linear-gradient(to right, #333333, #dd1818);
}
.cvv2{
    padding: 0 41px !important;
    position: relative;
}
.cvv2>label{
    position: absolute;
    left: 41px;
    top: -24px;
    font-size: 13px;
}
.cvv2>input{
    height: 30px;
}
.cvv2inp>h2{
    font-size: 14px;
    font-weight: normal;
}